@using Microsoft.AspNetCore.Identity
@using System.Linq;
@model IEnumerable<Allas>
@inject UserManager<SiteUser> UserManager
@inject SignInManager<SiteUser> SignInManager

<h1>Üdv az allas borzen</h1>

<div class="row">
    @foreach (var item in Model.ToList())
    {
    <div class="col-md-4">
        <div class="card h-100">
            <div class="card-body w-auto mx-auto">
                <div class="card-title">
                    <h3 class="text-info fw-bold">@item.Megnevezes</h3>
                </div>
                <div class="card-subtitle"> @item.Vallalat</div>
                <div class="card-text mb-4"> Bérezés: @item.Oraber</div>


                    @if (SignInManager.IsSignedIn(User) && item.SiteUsers != null && !item.SiteUsers.Select(x => x.Id).Contains(UserManager.GetUserId(User)))
                {
                        <a class="alert alert-primary" href="Allas/Jelentkezes?uid=@item.UID">Jelentkezes</a>
                }
                    @if (item.SiteUsers != null)
                    {
                        <div class="mt-4 card-subtitle">Jelentkezők: @item.SiteUsers.Count() fő</div>
                        @if (SignInManager.IsSignedIn(User) && await UserManager.IsInRoleAsync(await UserManager.GetUserAsync(User), "Admin"))
                        {
                            @foreach (var jelentkezo in item.SiteUsers)
                            {
                             <span class="">
                                 @jelentkezo.Email
                             </span>
                         }
                     }
                }
                
            </div>
        </div>
    </div>
    }
</div>